body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #2e7d32;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.main-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.category {
    text-align: center;
    margin: 15px;
}

.category img {
    width: 80px;
    height: 80px;
}

.category p {
    margin-top: 8px;
    font-weight: bold;

    
}
/* Make body take full height and use flexbox */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Let main content take remaining space */
.main-content {
  flex: 1;
}

/* Footer styling */
footer {
  background-color: black;   /* Black background */
  color: white;              /* White text */
  text-align: center;        /* Centered text */
  padding: 20px 0;           /* Space inside footer */
  width: 100%;               /* Full width */
  list-style: none;   /* removes the dots */ 
}

    